@font-face {
    font-family: "Lemon";
    src: url('../fonts/Lemon\ Tuesday.otf');
    font-style: normal;
}

@font-face {
    font-family: "Myraid";
    src: url('../fonts/MYRIADPRO-REGULAR.OTF');
    font-style: normal;
}

@font-face {
    font-family: "RobotoSlab";
    src: url('../fonts/RobotoSlab-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: "OpenSemiBold";
    src: url('../fonts/OpenSans_SemiCondensed-Bold.ttf');
    font-style: normal;
}

@font-face {
    font-family: "VariableOpenSans";
    src: url('../fonts/OpenSans-VariableFont_wdth\,wght.ttf');
    font-style: normal;
}