// Fonts
$Lemon: 'Lemon';
$RobotoSlab: 'RobotoSlab';
$Myraid: 'Myraid';
$OpenSemiBold: 'OpenSemiBold';
$VariableOpenSans: 'VariableOpenSans';
$OpenSansItalic: 'OpenSansItalic';

// Color
$HeadBurger: #4ec83d;
$BgGreen: #84c604;
$BgOrange: #fd4f10;